In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("kidney.csv")

In [3]:
df.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              400 non-null    int64
 1   age             391 non-null    float64
 2   bp              388 non-null    float64
 3   sg              353 non-null    float64
 4   al              354 non-null    float64
 5   su              351 non-null    float64
 6   rbc             248 non-null    object
 7   pc              335 non-null    object
 8   pcc             396 non-null    object
 9   ba              396 non-null    object
 10  bgr             356 non-null    float64
 11  bu              381 non-null    float64
 12  sc              383 non-null    float64
 13  sod             313 non-null    float64
 14  pot             312 non-null    float64
 15  hemo            348 non-null    float64
 16  pcv             330 non-null    object
 17  wc              295 non-null    object
 18  rc              270 non-null    object
 19  htn             398 non-null    object
 20  dm              398 non-null    object
 21  cad             398 non-null    object
 22  appet           399 non-null    object
 23  pe              399 non-null    object
 24  ane             399 non-null    object
 25  classification  400 non-null    object
dtypes: float64(11), int64(1), object(14)
memory usage: 81.4+ KB

In [5]:
df.isnull().sum()

id                  0
age                 9
bp                 12
sg                 47
al                 46
su                 49
rbc               152
pc                 65
pcc                 4
ba                  4
bgr                44
bu                 19
sc                 17
sod                87
pot                88
hemo               52
pcv                70
wc                105
rc                130
htn                 2
dm                  2
cad                 2
appet               1
pe                  1
ane                 1
classification      0
dtype: int64

In [6]:
df.drop('id',axis=1,inplace=True)

In [7]:
for i in ['rc','wc','pcv']:
    df[i] = df[i].str.extract('(\d+)').astype(float)
    
for i in ['age','bp','sg','al','su','bgr','bu','sc','sod','pot','hemo','rc','wc','pcv']:
    df[i].fillna(df[i].mean(),inplace=True)

In [8]:
df.describe()

,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo,pcv,wc,rc
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,51.483376,76.469072,1.017408,1.016949,0.450142,148.036517,57.425722,3.072454,137.528754,4.627244,12.526437,38.884498,8406.122449,4.241636
std,16.974966,13.476298,0.005369,1.272318,1.029487,74.782634,49.285887,5.617490,9.204273,2.819783,2.716171,8.151081,2523.219976,0.888937
min,2.000000,50.000000,1.005000,0.000000,0.000000,22.000000,1.500000,0.400000,4.500000,2.500000,3.100000,9.000000,2200.000000,2.000000
25%,42.000000,70.000000,1.015000,0.000000,0.000000,101.000000,27.000000,0.900000,135.000000,4.000000,10.875000,34.000000,6975.000000,4.000000
50%,54.000000,78.234536,1.017408,1.000000,0.000000,126.000000,44.000000,1.400000,137.528754,4.627244,12.526437,38.884498,8406.122449,4.241636
75%,64.000000,80.000000,1.020000,2.000000,0.450142,150.000000,61.750000,3.072454,141.000000,4.800000,14.625000,44.000000,9400.000000,5.000000
max,90.000000,180.000000,1.025000,5.000000,5.000000,490.000000,391.000000,76.000000,163.000000,47.000000,17.800000,54.000000,26400.000000,8.000000

In [9]:
df['classification'].value_counts()

ckd       248
notckd    150
ckd\t       2
Name: classification, dtype: int64

In [10]:
#there is an issue of\t in dataset
#then too it is a balanced dataset

In [11]:
for c in df.columns:
    print(c,df[c].unique())

age [48.          7.         62.         51.         60.         68.
 24.         52.         53.         50.         63.         40.
 47.         61.         21.         42.         75.         69.
 51.48337596 73.         70.         65.         76.         72.
 82.         46.         45.         35.         54.         11.
 59.         67.         15.         55.         44.         26.
 64.         56.          5.         74.         38.         58.
 71.         34.         17.         12.         43.         41.
 57.          8.         39.         66.         81.         14.
 27.         83.         30.          4.          3.          6.
 32.         80.         49.         90.         78.         19.
  2.         33.         36.         37.         23.         25.
 20.         29.         28.         22.         79.        ]
bp [ 80.          50.          70.          90.          76.46907216
 100.          60.         110.         140.         180.
 120.        ]
sg [1.02       1.01       1.005      1.015      1.01740793 1.025     ]
al [1.         4.         2.         3.         0.         1.01694915
 5.        ]
su [0.         3.         4.         1.         0.45014245 2.
 5.        ]
rbc [nan 'normal' 'abnormal']
pc ['normal' 'abnormal' nan]
pcc ['notpresent' 'present' nan]
ba ['notpresent' 'present' nan]
bgr [121.         148.03651685 423.         117.         106.
  74.         100.         410.         138.          70.
 490.         380.         208.          98.         157.
  76.          99.         114.         263.         173.
  95.         108.         156.         264.         123.
  93.         107.         159.         140.         171.
 270.          92.         137.         204.          79.
 207.         124.         144.          91.         162.
 246.         253.         141.         182.          86.
 150.         146.         425.         112.         250.
 360.         163.         129.         133.         102.
 158.         165.         132.         104.         127.
 415.         169.         251.         109.         280.
 210.         219.         295.          94.         172.
 101.         298.         153.          88.         226.
 143.         115.          89.         297.         233.
 294.         323.         125.          90.         308.
 118.         224.         128.         122.         214.
 213.         268.         256.          84.         105.
 288.         139.          78.         273.         242.
 424.         303.         148.         160.         192.
 307.         220.         447.         309.          22.
 111.         261.         215.         234.         131.
 352.          80.         239.         110.         130.
 184.         252.         113.         230.         341.
 255.         103.         238.         248.         120.
 241.         269.         201.         203.         463.
 176.          82.         119.          97.          96.
  81.         116.         134.          85.          83.
  87.          75.        ]
bu [ 36.          18.          53.          56.          26.
  25.          54.          31.          60.         107.
  55.          72.          86.          90.         162.
  46.          87.          27.         148.         180.
 163.          57.42572178  50.          75.          45.
  28.         155.          33.          39.         153.
  29.          65.         103.          70.          80.
  20.         202.          77.          89.          24.
  17.          32.         114.          66.          38.
 164.         142.          96.         391.          15.
 111.          73.          19.          92.          35.
  16.         139.          48.          85.          98.
 186.          37.          47.          52.          82.
  51.         106.          22.         217.          88.
 118.          50.1         71.          34.          40.
  21.         219.          30.         125.         166.
  49.         208.         176.          68.         145.
 165.         322.          23.         235.         132.
  76.          42.          44.          41.         113.
   1.5        146.          58.         133.         137.
  67.         115.         223.          98.6        158.
  94.          74.         150.          61.          57.
  95.         191.          93.         241.          64.
  79.         215.         309.          10.        ]
sc [ 1.2         0.8         1.8         3.8         1.4         1.1
 24.          1.9         7.2         4.          2.7         2.1
  4.6         4.1         9.6         2.2         5.2         1.3
  1.6         3.9        76.          7.7         3.07245431  2.4
  7.3         1.5         2.5         2.          3.4         0.7
  1.         10.8         6.3         5.9         0.9         3.
  3.25        9.7         6.4         3.2        32.          0.6
  6.1         3.3         6.7         8.5         2.8        15.
  2.9         1.7         3.6         5.6         6.5         4.4
 10.2        11.5         0.5        12.2         5.3         9.2
 13.8        16.9         6.          7.1        18.          2.3
 13.         48.1        14.2        16.4         2.6         7.5
  4.3        18.1        11.8         9.3         6.8        13.5
 12.8        11.9        12.         13.4        15.2        13.3
  0.4       ]
sod [137.52875399 111.         142.         104.         114.
 131.         138.         135.         130.         141.
 139.           4.5        136.         129.         140.
 132.         133.         134.         125.         163.
 137.         128.         143.         127.         146.
 126.         122.         147.         124.         115.
 145.         113.         120.         150.         144.        ]
pot [ 4.62724359  2.5         3.2         4.          3.7         4.2
  5.8         3.4         6.4         4.9         4.1         4.3
  5.2         3.8         4.6         3.9         4.7         5.9
  4.8         4.4         6.6        39.          5.5         5.
  3.5         3.6         7.6         2.9         4.5         5.7
  5.4         5.3        47.          6.3         5.1         5.6
  3.          2.8         2.7         6.5         3.3       ]
hemo [15.4        11.3         9.6        11.2        11.6        12.2
 12.4        10.8         9.5         9.4         9.7         9.8
  5.6         7.6        12.6        12.1        12.7        10.3
  7.7        10.9        12.52643678 11.1         9.9        12.5
 12.9        10.1        12.         13.          7.9         9.3
 15.         10.          8.6        13.6        10.2        10.5
  6.6        11.          7.5        15.6        15.2         4.8
  9.1         8.1        11.9        13.5         8.3         7.1
 16.1        10.4         9.2         6.2        13.9        14.1
  6.         11.8        11.7        11.4        14.          8.2
 13.2         6.1         8.         12.3         8.4        14.3
  9.          8.7        10.6        13.1        10.7         5.5
  5.8         6.8         8.8         8.5        13.8        11.5
  7.3        13.7        12.8        13.4         6.3         3.1
 17.         15.9        14.5        15.5        16.2        14.4
 14.2        16.3        14.8        16.5        15.7        13.3
 14.6        16.4        16.9        16.         14.7        16.6
 14.9        16.7        16.8        15.8        15.1        17.1
 17.2        15.3        17.3        17.4        17.7        17.8
 17.5        17.6       ]
pcv [44.         38.         31.         32.         35.         39.
 36.         33.         29.         28.         38.88449848 16.
 24.         37.         30.         34.         40.         45.
 27.         48.         52.         14.         22.         18.
 42.         17.         46.         23.         19.         25.
 41.         26.         15.         21.         43.         20.
 47.          9.         49.         50.         53.         51.
 54.        ]
wc [ 7800.          6000.          7500.          6700.
  7300.          8406.12244898  6900.          9600.
 12100.          4500.         12200.         11000.
  3800.         11400.          5300.          9200.
  6200.          8300.          8400.         10300.
  9800.          9100.          7900.          6400.
  8600.         18900.         21600.          4300.
  8500.         11300.          7200.          7700.
 14600.          6300.          7100.         11800.
  9400.          5500.          5800.         13200.
 12500.          5600.          7000.         11900.
 10400.         10700.         12700.          6800.
  6500.         13600.         10200.          9000.
 14900.          8200.         15200.          5000.
 16300.         12400.         10500.          4200.
  4700.         10900.          8100.          9500.
  2200.         12800.         11200.         19100.
 12300.         16700.          2600.         26400.
  8800.          7400.          4900.          8000.
 12000.         15700.          4100.          5700.
 11500.          5400.         10800.          9900.
  5200.          5900.          9300.          9700.
  5100.          6600.        ]
rc [5.         4.24163569 3.         4.         2.         6.
 8.        ]
htn ['yes' 'no' nan]
dm ['yes' 'no' ' yes' '\tno' '\tyes' nan]
cad ['no' 'yes' '\tno' nan]
appet ['good' 'poor' nan]
pe ['no' 'yes' nan]
ane ['no' 'yes' nan]
classification ['ckd' 'ckd\t' 'notckd']

In [12]:
df["wc"]=df["wc"].replace("\t?", np.nan)
df["rc"]=df["rc"].replace("\t?", np.nan)
df["pcv"]=df["pcv"].replace("\t?", np.nan)

In [13]:
df['dm'] = df['dm'].replace(to_replace={'\tno':'no','\tyes':'yes',' yes':'yes'})
df['cad'] = df['cad'].replace(to_replace='\tno',value='no')
df['pcv'] = df['pcv'].replace(to_replace='\t43',value='43')
#df['wc'] = df['wc'].replace(to_replace={'\t8400':'8400','\t6200':'6200'})
df['classification']=df['classification'].replace(to_replace={'ckd':1.0,'ckd\t':1.0,'notckd':0.0,'no':0.0})

In [14]:
for c in df.columns:
    print(c,df[c].unique())

age [48.          7.         62.         51.         60.         68.
 24.         52.         53.         50.         63.         40.
 47.         61.         21.         42.         75.         69.
 51.48337596 73.         70.         65.         76.         72.
 82.         46.         45.         35.         54.         11.
 59.         67.         15.         55.         44.         26.
 64.         56.          5.         74.         38.         58.
 71.         34.         17.         12.         43.         41.
 57.          8.         39.         66.         81.         14.
 27.         83.         30.          4.          3.          6.
 32.         80.         49.         90.         78.         19.
  2.         33.         36.         37.         23.         25.
 20.         29.         28.         22.         79.        ]
bp [ 80.          50.          70.          90.          76.46907216
 100.          60.         110.         140.         180.
 120.        ]
sg [1.02       1.01       1.005      1.015      1.01740793 1.025     ]
al [1.         4.         2.         3.         0.         1.01694915
 5.        ]
su [0.         3.         4.         1.         0.45014245 2.
 5.        ]
rbc [nan 'normal' 'abnormal']
pc ['normal' 'abnormal' nan]
pcc ['notpresent' 'present' nan]
ba ['notpresent' 'present' nan]
bgr [121.         148.03651685 423.         117.         106.
  74.         100.         410.         138.          70.
 490.         380.         208.          98.         157.
  76.          99.         114.         263.         173.
  95.         108.         156.         264.         123.
  93.         107.         159.         140.         171.
 270.          92.         137.         204.          79.
 207.         124.         144.          91.         162.
 246.         253.         141.         182.          86.
 150.         146.         425.         112.         250.
 360.         163.         129.         133.         102.
 158.         165.         132.         104.         127.
 415.         169.         251.         109.         280.
 210.         219.         295.          94.         172.
 101.         298.         153.          88.         226.
 143.         115.          89.         297.         233.
 294.         323.         125.          90.         308.
 118.         224.         128.         122.         214.
 213.         268.         256.          84.         105.
 288.         139.          78.         273.         242.
 424.         303.         148.         160.         192.
 307.         220.         447.         309.          22.
 111.         261.         215.         234.         131.
 352.          80.         239.         110.         130.
 184.         252.         113.         230.         341.
 255.         103.         238.         248.         120.
 241.         269.         201.         203.         463.
 176.          82.         119.          97.          96.
  81.         116.         134.          85.          83.
  87.          75.        ]
bu [ 36.          18.          53.          56.          26.
  25.          54.          31.          60.         107.
  55.          72.          86.          90.         162.
  46.          87.          27.         148.         180.
 163.          57.42572178  50.          75.          45.
  28.         155.          33.          39.         153.
  29.          65.         103.          70.          80.
  20.         202.          77.          89.          24.
  17.          32.         114.          66.          38.
 164.         142.          96.         391.          15.
 111.          73.          19.          92.          35.
  16.         139.          48.          85.          98.
 186.          37.          47.          52.          82.
  51.         106.          22.         217.          88.
 118.          50.1         71.          34.          40.
  21.         219.          30.         125.         166.
  49.         208.         176.          68.         145.
 165.         322.          23.         235.         132.
  76.          42.          44.          41.         113.
   1.5        146.          58.         133.         137.
  67.         115.         223.          98.6        158.
  94.          74.         150.          61.          57.
  95.         191.          93.         241.          64.
  79.         215.         309.          10.        ]
sc [ 1.2         0.8         1.8         3.8         1.4         1.1
 24.          1.9         7.2         4.          2.7         2.1
  4.6         4.1         9.6         2.2         5.2         1.3
  1.6         3.9        76.          7.7         3.07245431  2.4
  7.3         1.5         2.5         2.          3.4         0.7
  1.         10.8         6.3         5.9         0.9         3.
  3.25        9.7         6.4         3.2        32.          0.6
  6.1         3.3         6.7         8.5         2.8        15.
  2.9         1.7         3.6         5.6         6.5         4.4
 10.2        11.5         0.5        12.2         5.3         9.2
 13.8        16.9         6.          7.1        18.          2.3
 13.         48.1        14.2        16.4         2.6         7.5
  4.3        18.1        11.8         9.3         6.8        13.5
 12.8        11.9        12.         13.4        15.2        13.3
  0.4       ]
sod [137.52875399 111.         142.         104.         114.
 131.         138.         135.         130.         141.
 139.           4.5        136.         129.         140.
 132.         133.         134.         125.         163.
 137.         128.         143.         127.         146.
 126.         122.         147.         124.         115.
 145.         113.         120.         150.         144.        ]
pot [ 4.62724359  2.5         3.2         4.          3.7         4.2
  5.8         3.4         6.4         4.9         4.1         4.3
  5.2         3.8         4.6         3.9         4.7         5.9
  4.8         4.4         6.6        39.          5.5         5.
  3.5         3.6         7.6         2.9         4.5         5.7
  5.4         5.3        47.          6.3         5.1         5.6
  3.          2.8         2.7         6.5         3.3       ]
hemo [15.4        11.3         9.6        11.2        11.6        12.2
 12.4        10.8         9.5         9.4         9.7         9.8
  5.6         7.6        12.6        12.1        12.7        10.3
  7.7        10.9        12.52643678 11.1         9.9        12.5
 12.9        10.1        12.         13.          7.9         9.3
 15.         10.          8.6        13.6        10.2        10.5
  6.6        11.          7.5        15.6        15.2         4.8
  9.1         8.1        11.9        13.5         8.3         7.1
 16.1        10.4         9.2         6.2        13.9        14.1
  6.         11.8        11.7        11.4        14.          8.2
 13.2         6.1         8.         12.3         8.4        14.3
  9.          8.7        10.6        13.1        10.7         5.5
  5.8         6.8         8.8         8.5        13.8        11.5
  7.3        13.7        12.8        13.4         6.3         3.1
 17.         15.9        14.5        15.5        16.2        14.4
 14.2        16.3        14.8        16.5        15.7        13.3
 14.6        16.4        16.9        16.         14.7        16.6
 14.9        16.7        16.8        15.8        15.1        17.1
 17.2        15.3        17.3        17.4        17.7        17.8
 17.5        17.6       ]
pcv [44.         38.         31.         32.         35.         39.
 36.         33.         29.         28.         38.88449848 16.
 24.         37.         30.         34.         40.         45.
 27.         48.         52.         14.         22.         18.
 42.         17.         46.         23.         19.         25.
 41.         26.         15.         21.         43.         20.
 47.          9.         49.         50.         53.         51.
 54.        ]
wc [ 7800.          6000.          7500.          6700.
  7300.          8406.12244898  6900.          9600.
 12100.          4500.         12200.         11000.
  3800.         11400.          5300.          9200.
  6200.          8300.          8400.         10300.
  9800.          9100.          7900.          6400.
  8600.         18900.         21600.          4300.
  8500.         11300.          7200.          7700.
 14600.          6300.          7100.         11800.
  9400.          5500.          5800.         13200.
 12500.          5600.          7000.         11900.
 10400.         10700.         12700.          6800.
  6500.         13600.         10200.          9000.
 14900.          8200.         15200.          5000.
 16300.         12400.         10500.          4200.
  4700.         10900.          8100.          9500.
  2200.         12800.         11200.         19100.
 12300.         16700.          2600.         26400.
  8800.          7400.          4900.          8000.
 12000.         15700.          4100.          5700.
 11500.          5400.         10800.          9900.
  5200.          5900.          9300.          9700.
  5100.          6600.        ]
rc [5.         4.24163569 3.         4.         2.         6.
 8.        ]
htn ['yes' 'no' nan]
dm ['yes' 'no' nan]
cad ['no' 'yes' nan]
appet ['good' 'poor' nan]
pe ['no' 'yes' nan]
ane ['no' 'yes' nan]
classification [1. 0.]

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 25 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             400 non-null    float64
 1   bp              400 non-null    float64
 2   sg              400 non-null    float64
 3   al              400 non-null    float64
 4   su              400 non-null    float64
 5   rbc             248 non-null    object
 6   pc              335 non-null    object
 7   pcc             396 non-null    object
 8   ba              396 non-null    object
 9   bgr             400 non-null    float64
 10  bu              400 non-null    float64
 11  sc              400 non-null    float64
 12  sod             400 non-null    float64
 13  pot             400 non-null    float64
 14  hemo            400 non-null    float64
 15  pcv             400 non-null    float64
 16  wc              400 non-null    float64
 17  rc              400 non-null    float64
 18  htn             398 non-null    object
 19  dm              398 non-null    object
 20  cad             398 non-null    object
 21  appet           399 non-null    object
 22  pe              399 non-null    object
 23  ane             399 non-null    object
 24  classification  400 non-null    float64
dtypes: float64(15), object(10)
memory usage: 78.2+ KB

In [16]:
df.isnull().sum()

age                 0
bp                  0
sg                  0
al                  0
su                  0
rbc               152
pc                 65
pcc                 4
ba                  4
bgr                 0
bu                  0
sc                  0
sod                 0
pot                 0
hemo                0
pcv                 0
wc                  0
rc                  0
htn                 2
dm                  2
cad                 2
appet               1
pe                  1
ane                 1
classification      0
dtype: int64

In [17]:
df.head()

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,121.000000,...,44.0,7800.0,5.000000,yes,yes,no,good,no,no,1.0
1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,148.036517,...,38.0,6000.0,4.241636,no,no,no,good,no,no,1.0
2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.000000,...,31.0,7500.0,4.241636,no,yes,no,poor,no,yes,1.0
3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.000000,...,32.0,6700.0,3.000000,yes,no,no,poor,yes,yes,1.0
4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.000000,...,35.0,7300.0,4.000000,no,no,no,good,no,no,1.0

In [18]:
categorical_val=[]
categorical_val=['rbc','pc','pcc','ba','htn','dm','cad','appet','pe','ane']

In [19]:
dataset = pd.get_dummies(df, columns = categorical_val,drop_first=True)

In [20]:
dataset.head()

,age,bp,sg,al,su,bgr,bu,sc,sod,pot,...,rbc_normal,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_poor,pe_yes,ane_yes
0,48.0,80.0,1.020,1.0,0.0,121.000000,36.0,1.2,137.528754,4.627244,...,0,1,0,0,1,1,0,0,0,0
1,7.0,50.0,1.020,4.0,0.0,148.036517,18.0,0.8,137.528754,4.627244,...,0,1,0,0,0,0,0,0,0,0
2,62.0,80.0,1.010,2.0,3.0,423.000000,53.0,1.8,137.528754,4.627244,...,1,1,0,0,0,1,0,1,0,1
3,48.0,70.0,1.005,4.0,0.0,117.000000,56.0,3.8,111.000000,2.500000,...,1,0,1,0,1,0,0,1,1,1
4,51.0,80.0,1.010,2.0,0.0,106.000000,26.0,1.4,137.528754,4.627244,...,1,1,0,0,0,0,0,0,0,0

In [21]:
dataset.columns

Index(['age', 'bp', 'sg', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hemo',
       'pcv', 'wc', 'rc', 'classification', 'rbc_normal', 'pc_normal',
       'pcc_present', 'ba_present', 'htn_yes', 'dm_yes', 'cad_yes',
       'appet_poor', 'pe_yes', 'ane_yes'],
      dtype='object')

In [22]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 25 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             400 non-null    float64
 1   bp              400 non-null    float64
 2   sg              400 non-null    float64
 3   al              400 non-null    float64
 4   su              400 non-null    float64
 5   bgr             400 non-null    float64
 6   bu              400 non-null    float64
 7   sc              400 non-null    float64
 8   sod             400 non-null    float64
 9   pot             400 non-null    float64
 10  hemo            400 non-null    float64
 11  pcv             400 non-null    float64
 12  wc              400 non-null    float64
 13  rc              400 non-null    float64
 14  classification  400 non-null    float64
 15  rbc_normal      400 non-null    uint8
 16  pc_normal       400 non-null    uint8
 17  pcc_present     400 non-null    uint8
 18  ba_present      400 non-null    uint8
 19  htn_yes         400 non-null    uint8
 20  dm_yes          400 non-null    uint8
 21  cad_yes         400 non-null    uint8
 22  appet_poor      400 non-null    uint8
 23  pe_yes          400 non-null    uint8
 24  ane_yes         400 non-null    uint8
dtypes: float64(15), uint8(10)
memory usage: 50.9 KB

In [23]:
dataset.isnull().sum()

age               0
bp                0
sg                0
al                0
su                0
bgr               0
bu                0
sc                0
sod               0
pot               0
hemo              0
pcv               0
wc                0
rc                0
classification    0
rbc_normal        0
pc_normal         0
pcc_present       0
ba_present        0
htn_yes           0
dm_yes            0
cad_yes           0
appet_poor        0
pe_yes            0
ane_yes           0
dtype: int64

In [24]:
X=dataset.drop(["classification"],axis=1)
y=dataset["classification"]

In [25]:
from sklearn.preprocessing import StandardScaler

s_sc = StandardScaler()
col_to_scale = ['age','bp','sg','al','su','bgr','bu','sc','sod','pot','hemo','pcv','wc','rc']
dataset[col_to_scale] = s_sc.fit_transform(dataset[col_to_scale])

In [26]:
dataset.head()

,age,bp,sg,al,su,bgr,bu,sc,sod,pot,...,rbc_normal,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_poor,pe_yes,ane_yes
0,-0.205464,0.262338,0.483355,-0.013338,-0.437797,-0.361987,-0.435268,-0.333743,0.000000,6.307513e-16,...,0,1,0,0,1,1,0,0,0,0
1,-2.623810,-1.966580,0.483355,2.347516,-0.437797,0.000000,-0.800941,-0.405039,0.000000,6.307513e-16,...,0,1,0,0,0,0,0,0,0,0
2,0.620313,0.262338,-1.381391,0.773613,2.479925,3.681441,-0.089909,-0.226800,0.000000,6.307513e-16,...,1,1,0,0,0,1,0,1,0,1
3,-0.205464,-0.480635,-2.313764,2.347516,-0.437797,-0.415543,-0.028964,0.129677,-2.885831,-7.553446e-01,...,1,0,1,0,1,0,0,1,1,1
4,-0.028511,0.262338,-1.381391,0.773613,-0.437797,-0.562820,-0.638420,-0.298096,0.000000,6.307513e-16,...,1,1,0,0,0,0,0,0,0,0

In [27]:
dataset.columns

Index(['age', 'bp', 'sg', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hemo',
       'pcv', 'wc', 'rc', 'classification', 'rbc_normal', 'pc_normal',
       'pcc_present', 'ba_present', 'htn_yes', 'dm_yes', 'cad_yes',
       'appet_poor', 'pe_yes', 'ane_yes'],
      dtype='object')

In [28]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [29]:
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, roc_auc_score, roc_curve, \
    classification_report
from sklearn.model_selection import KFold
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from xgboost import XGBClassifier
models = [('LR', LogisticRegression()),
          ('KNN', KNeighborsClassifier()),
          ('CART', DecisionTreeClassifier()),
          ('RF', RandomForestClassifier()),
          ('SVR', SVC(gamma='auto')),
          ('XGBM', XGBClassifier()),
          ('GB',GradientBoostingClassifier())]

# evaluate each model in turn
results = []
names = []

for name, model in models:
    model.fit(X_train,y_train)
    predict = model.predict(X_test)
    acc = accuracy_score(y_test, predict)
    results.append(acc)
    names.append(name)
    print(name,acc)

C:\Users\admin\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LR 0.95
KNN 0.7416666666666667
CART 0.9916666666666667
RF 1.0
SVR 0.6333333333333333
[14:09:43] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
XGBM 0.9916666666666667

C:\Users\admin\anaconda3\lib\site-packages\xgboost\sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
C:\Users\admin\anaconda3\lib\site-packages\xgboost\data.py:112: UserWarning: Use subset (sliced data) of np.ndarray is not recommended because it will generate extra copies and increase memory consumption
  warnings.warn(

GB 0.9916666666666667

In [30]:
rf=RandomForestClassifier()
rf.fit(X_train,y_train)
predict = rf.predict(X_test)
acc = accuracy_score(y_test, predict)
acc

1.0

In [31]:
import random
import pickle
# open a file, where you ant to store the data
file = open('kidney prediction.pkl', 'wb')

# dump information to that file
pickle.dump(rf, file)